includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: 5
    paths:
        - src
    excludePaths:
        - src/Console
    ignoreErrors:
        - identifier: missingType.iterableValue
        - identifier: missingType.generics
        - '#Unsafe usage of new static#'
